.collections-section {
  background-image: url(../LandingPage/black.png);
  padding-bottom: 10%;
}

.collections-title {
  word-wrap: break-word;
  background: -webkit-linear-gradient(#ffffff, #3F3838);
  opacity: 0.1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .collections-title {
    opacity: 0.3;
    font-size: 48px;
  }
}