.collections-section {
  background-image: url(../LandingPage/black.png);
  padding-bottom: 10%;
}

.collections-title {
  opacity: 0.15;
  word-wrap: break-word;
  background: -webkit-linear-gradient(#ffffff, #3F3838);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) { 
  .collections-title {
    font-size: 45px;
    opacity: 0.3;
  }
}