@import url('https://fonts.googleapis.com/css?family=Raleway:100,200|Roboto:100,300,300i,400&display=swap');

body {
	margin: 0;
	height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before, body:after {
  display: none;
}

h1 {
	font-size: 150px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

#header {
	position: fixed;
}