@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400|Roboto:300,300i,400&display=swap');

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body, #root {
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	margin: 0;
	height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before, body:after {
  display: none;
}

h1 {
	font-size: 150px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.section {
	position: relative;
	top: -65px;
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 100vh;
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	animation: image-load 2.5s;
	justify-content: center;
}

.header {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.header-desktop {
	position: fixed;
	top: 2.5%;
	display: flex;
}

.header-desktop nav ul {
	display: flex;
}

.header-desktop nav ul li {
	list-style: none;
	padding: 0 16px;
}

.header-desktop nav ul li a {
	color: #8a8a8a;
	text-decoration: none;
	font-size: 14px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.header-desktop nav ul li a span {
	text-transform: lowercase;
}

@keyframes image-load {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) { 
	h1 {
		font-size: 65px;
	}
}

/* MOBILE LANDSCAPE */
@media (min-width: 568px) and (max-width: 812px) { 

}

/* TABLET PORTRAIT */
@media (min-width: 768px) and (max-width: 834px) {
	.section {
		top: 0;
	}
}

/* TABLET LANDSCAPE */
@media (min-width: 1024px) and (max-width: 1112px) {
	.section {
		top: 0;
	}
}